.categoryType {
	text-align: center;
    vertical-align: top;
    border-right: 1px solid #e6e7e8;
    padding-top: 16px;
    background-color: white;
}


.categoryContainer {
	display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.categoryContain{
	background: #fff;
    padding: 16px 15px 8px 12px;
    vertical-align: top;
    margin-top: 0;
    border-right: none;
    border-left: none;
    border-top: none;
}

.category_li {
	width: 282px; /* 이 값을 조절하여 한 줄에 보여지는 요소의 개수를 조절하세요 */
	list-style: none;
	margin: 0 25px 0 25px;
}

[class^="categoryList"] a.active {
	color: red;
}

[class^="categoryList"] {
    font-size: 15px;
    padding: 8px 0;
    line-height: 1;
    height: 41px;
}

.categoryContain a {
	padding: 3px 8px 4px;
    color: #666;
    vertical-align: middle;
    font-size: 15px;
    line-height: 1;
    font-weight: 300;
    cursor: pointer;
}

.categoryType span {
	color: #74b243;
    display: block;
    font-weight: 500;
    margin: 0 5px 0 0;
    text-align: center;
    padding-top: 6px;
    font-size: 15px;
    height: 41px;
    width: 100%;
    padding-top: 12px;
}

.pageNav {
	text-align: center;
	width: 100%;
}

.pagination {
	list-style: none;
	display: inline-block;
	padding: 0;
	margin-top: 20px;
}

.page-item {
	display: inline;
	text-align: center;
	
}

.page-link {
	float: left;
	display: block;
	font-size: 20px;
	text-decoration: none;
	padding: 5px 12px;
	color: #96a0ad;
	line-height: 1.5;
	margin-left: 3px;
	height: 30px;
	width: 17px;
	line-height: 30px;
	-moz-border-radius: 100%;
	-webkit-border-radius: 100%;
	border-radius: 100%;
}

.page-link:hover {
	background-color: green;
	color: #ffffff;
}



.pagination li.active a{
	cursor: default;
	color: #ffffff;
	outline: none;
	background-color: green;
}



.category_main {
	background-color: white;
	width: 1332px;
	height: 100%;
}

.categoryRecipe {
	width: 1332px;
	display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
}

.category-img{
	width: 262px;
	height: 282px;
}

.toggle_div {
	width: 1332px;
	background-color: white;
	line-height: 1.42857143;
	text-align: center;
	border-bottom: 1px solid #e6e7e8;
	display: flex;
    justify-content: center;
    align-items: center;
    height: 50px; /* 높이는 필요에 따라 조절하세요 */
}

.categoryToggle {
	display: block;
	margin: 0 auto;
	cursor: pointer;
	padding-left: 500px;
    padding-right: 500px;
}

.recipeSubInfo {
	width: 100%; /* .category_li의 너비에 맞게 조절 */
	background-color: white;
	margin: 50px 0; /* 상하 마진만 적용 */
	position: relative;
	box-sizing: border-box;
}

.recipeSubInfo a img{
	cursor: pointer;
}

.rating__star {
	color: goldenrod;
}