<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="goodsMapper">


	<resultMap type="goods" id="goodsResultSet">
		<result column="g_no" property="g_no"></result>
		<result column="g_name" property="g_name"></result>
		<result column="g_file_path" property="g_file_path"></result>
		<result column="g_file_name" property="g_file_name"></result>
		<result column="g_origin_name" property="g_origin_name"></result>
		<result column="g_introduce" property="g_introduce"></result>
		<result column="g_regular_price" property="g_regular_price"></result>
		<result column="g_price" property="g_price"></result>
		<result column="g_dcRate" property="g_dcRate"></result>
		<result column="g_in_date" property="g_in_date"></result>
		<result column="g_stock" property="g_stock"></result>
		<result column="g_delete_check" property="g_delete_check"></result>
	</resultMap>

	<resultMap type="goodsPhotos" id="goodsPhotosResultSet">
		<result column="gp_no" property="gp_no"></result>
		<result column="gp_file_path" property="gp_file_path"></result>
		<result column="gp_file_name" property="gp_file_name"></result>
		<result column="gp_origin_name" property="gp_origin_name"></result>
		<result column="gp_type" property="gp_type"></result>
		<result column="g_no" property="g_no"></result>
	</resultMap>



	<select id="selectListCount" resultType="_int">
		SELECT COUNT(*) FROM
		goods
	</select>

	<select id="selectListAll" parameterType="goods"
		resultMap="goodsResultSet">
		SELECT * FROM goods
		WHERE G_STOCK >=1
		ORDER BY g_no DESC
	</select>

	<select id="detailGoods" resultMap="goodsResultSet">
		SELECT * FROM goods
		WHERE g_no = #{g_no}
	</select>
	
	<select id="getG_no" parameterType="goods" resultType="_int">
		SELECT G_NO FROM GOODS 
		WHERE g_name =#{g_name}
		AND g_file_path=#{g_file_path}
		AND g_file_name=#{g_file_name}
		AND g_origin_name=#{g_origin_name}
		AND g_introduce=#{g_introduce}
		AND g_regular_price=#{g_regular_price}
		AND g_price=#{g_price}
		AND g_dcRate=#{g_dcRate}
	</select>
	
	<select id="goodsPhotosList" parameterType="goods" resultMap="goodsPhotosResultSet">
		SELECT * FROM GOODSPHOTOS 
		WHERE g_no = #{g_no}
		AND gp_type =#{gp_type}
	</select>

	<insert id="addGoods" parameterType="goods">
		INSERT INTO GOODS
		VALUES(goods_seq.NEXTVAL,
		#{g_name},
		#{g_file_path},
		#{g_file_name},
		#{g_origin_name},
		#{g_introduce},
		#{g_regular_price},
		#{g_price},
		#{g_dcRate},
		SYSDATE,
		#{g_stock},
		null
		)
	</insert>
	
	<insert id="addGoodsPhotos" parameterType="goodsPhotos">
		INSERT INTO GOODSPHOTOS
		VALUES (goodsPhotos_seq.nextVAL,
		#{gp_file_path},
		#{gp_file_name},
		#{gp_origin_name},
		1,
		#{g_no}
		)
	</insert>
	
		<insert id="addDetailPhotos" parameterType="goodsPhotos">
		INSERT INTO GOODSPHOTOS
		VALUES (goodsPhotos_seq.nextVAL,
		#{gp_file_path},
		#{gp_file_name},
		#{gp_origin_name},
		2,
		#{g_no}
		)
	</insert>

	<update id="changeStock" parameterType="goods">
		UPDATE GOODS
		SET G_STOCK =
		#{g_stock}
		WHERE g_no= #{g_no}
	</update>
	
	<update id="deleteProduct">
		UPDATE GOODS
		SET g_delete_check = SYSDATE
		WHERE g_no=#{g_no}
	</update>

</mapper>
