.rankingContainer{
	width: 80%;
	margin-left: 10%;
	border: 1px solid #e6e7e8;
    padding: 0 0 20px 0;
    background: #fff;
}

.rankingContain {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: column;
}

.rankingMenu {
	border-bottom: 1px solid #ccc;
    padding-bottom: 1px;
    font-size: 17px;
}

.RankingList{
    float: left;
    margin-bottom: -1px;
    background: #fff;
    color: #666;
    list-style: none;
}

.RankingList a {
	line-height: 1.42857143;
    border: 1px solid transparent;
    padding: 14px 38px;
    border-bottom: none;
    display: block;
    text-decoration: none;
    color: #333;
}

.RankingList.active a {
	cursor: default;
    background-color: #fff;
    margin-bottom: -2px;
    color: #000;
    border: 1px solid #ccc;
    border-bottom: 1px solid #fff;
    font-weight: 800;
}

.RankingType {
	float:right;
}

.rankingSubType{
	list-style: none;
	float: right;
	margin-bottom: -1px;
    background: #fff;
    border-right: 1px solid #e0e0e0;
    color: #999;
    cursor: default;
}

.rankingSubType > a{
	line-height: 1.42857143;
    border: 1px solid transparent;
    padding: 6px 22px;
}

.rankingSubType.active a {
	cursor: default;
    background-color: #fff;
    margin-bottom: -2px;
    color: #000;
    font-weight: 800;
}

/* 레시피 랭킹 리스트 */

.recipeList{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px;
    margin-left: 40px;
}

.recipeRanking{
	width: 272px;
	list-style: none;
	position: relative; /* 오타 수정: realtive -> relative */
	flex: 0 0 24%; /* 100%를 4로 나눈 값 */
    max-width: 24%; /* 100%를 4로 나눈 값 */
    box-sizing: border-box;
}

.rank-image{
	width: 252px;
	height: 282px;
	margin-top: 50px;
}

.ChefPicture{
	width: 22px;
	height: 22px;
	margin-right: 10px;
}

.recipeTitle{
	font-size: 15px;
}

.chefName{
	font-size: 14px;
}

.chefName a {
  display: flex;
  align-items: center;  /* 요소들을 수직 방향으로 가운데 정렬 */
}

.RecipeScore{
	font-size: 13px;
}

.rankingNum {
	position: absolute;
    top: 45px; /* 위치 조정 */
    left: 10px; /* 위치 조정 */
    border: 1px solid;
    z-index: 100;
    width: 20px;
    height: 20px;
    text-align: center;
    background-color: white;
}
/* 검색어 랭킹 */

.searchWordRanking{
	border-bottom: 1px solid black;
	list-style: none;
	padding: 24px 6px;
	width: 300px;
    display: inline-block;
    margin-right: 60px;
}

.searchWordRank{
	display: flex;
	justify-content: flex-start;
    align-items: center;
}
.searchWordNum{
	width: 20px;
	height: 20px;
	border: 1px solid black;
	text-align: center;
	margin-right: 20px;
}

.chefRanking{
	display: flex;
    list-style: none;
    position: relative;
    flex-direction: column;
    align-items: center;
    width: 20%;
    margin-bottom: 30px;
    margin-top: 30px;
}

.chef-image{
	width: 110px;
	height: 110px;
	border-radius: 50%;
}

.chefNum {
	position: absolute;
    top: -20px; /* 위치 조정 */
    /* 원하는 스타일링 속성 추가 */
}

.rating__star {
	color: goldenrod;
}