.navbar {
	background-color: #f8f9fa;
	margin-bottom: 20px;
	padding: 10px 0;
	text-align: center;
}

.navbar a {
	margin: 0 15px;
	color: #333;
	text-decoration: none;
}

.board {
	width: 80%;
	margin: 0 auto;
}

.post {
	border-bottom: 1px solid #ddd;
	padding: 10px 0;
}

.post:last-child {
	border-bottom: none;
}


/* 공지사항 */


ul, li {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}

.notice_wrap {
	width: 1200px;
	margin: auto;
}

.notice_title {
	margin-bottom: 30px;
}

.notice_title strong {
	font-size: 3rem;
}

.notice_title p {
	margin-top: 5px;
	font-size: 1.4rem;
}

.bt_wrap {
	margin-top: 30px;
	text-align: center;
	font-size: 0;
}

.bt_wrap a {
	display: inline-block;
	min-width: 80px;
	margin-left: 10px;
	padding: 10px;
	border: 1px solid #000;
	border-radius: 2px;
	font-size: 1.4rem;
}

.bt_wrap a:first-child {
	margin-left: 0;
}

.bt_wrap a.on {
	background: #000;
	color: #fff;
}

.notice_list {
	width: 100%;
	border-top: 2px solid #000;
}

.notice_list>div {
	border-bottom: 1px solid #ddd;
	font-size: 0;
}

.notice_list>div.top {
	border-bottom: 1px solid #999;
}

.notice_list>div:last-child {
	border-bottom: 1px solid #000;
}

.notice_list>div>div {
	display: inline-block;
	padding: 15px 0;
	text-align: center;
	font-size: 1.4rem;
}

.notice_list>div.top>div {
	font-weight: 600;
}

.notice_list .num {
	width: 10%;
}

.notice_list .title {
	width: 60%;
	text-align: left;
}

.notice_list .top .title {
	text-align: center;
}

.notice_list .writer {
	width: 10%;
}

.notice_list .date {
	width: 10%;
}

.notice_list .count {
	width: 10%;
}

.notice_page {
	margin-top: 30px;
	text-align: center;
	font-size: 0;
}

.notice_page a {
	display: inline-block;
	width: 32px;
	height: 32px;
	box-sizing: border-box;
	vertical-align: middle;
	border: 1px solid #ddd;
	border-left: 0;
	line-height: 100%;
}

.notice_page a.bt {
	padding-top: 10px;
	font-size: 1.2rem;
	letter-spacing: -1px;
}

.notice_page a.num {
	padding-top: 9px;
	font-size: 1.4rem;
}

.notice_page a.num.on {
	border-color: #000;
	background: #000;
	color: #fff;
}

.notice_page a:first-child {
	border-left: 1px solid #ddd;
}

.notice_view {
	width: 100%;
	border-top: 2px solid #000;
}

.notice_view .title {
	padding: 20px 15px;
	border-bottom: 1px dashed #ddd;
	font-size: 2rem;
}

.notice_view .info {
	padding: 15px;
	border-bottom: 1px solid #999;
	font-size: 0;
}

.notice_view .info dl {
	position: relative;
	display: inline-block;
	padding: 0 20px;
}

.notice_view .info dl:first-child {
	padding-left: 0;
}

.notice_view .info dl::before {
	content: "";
	position: absolute;
	top: 1px;
	left: 0;
	display: block;
	width: 1px;
	height: 13px;
	background: #ddd;
}

.notice_view .info dl:first-child::before {
	display: none;
}

.notice_view .info dl dt, .board_view .info dl dd {
	display: inline-block;
	font-size: 1.4rem;
}

.notice_view .info dl dd {
	margin-left: 10px;
	color: #777;
}

.notice_view .cont {
	padding: 15px;
	border-bottom: 1px solid #000;
	line-height: 160%;
	font-size: 1.4rem;
}

.notice_write {
	border-top: 2px solid #000;
}

.notice_write .title, .board_write .info {
	padding: 15px;
}

.notice_write .info {
	border-top: 1px dashed #ddd;
	border-bottom: 1px solid #000;
	font-size: 0;
}

.notice_write .title dl {
	font-size: 0;
}

.notice_write .info dl {
	display: inline-block;
	width: 50%;
	vertical-align: middle;
}

.notice_write .title dt, .notice_write .title dd, .notice_write .info dt,
	.notice_write .info dd {
	display: inline-block;
	vertical-align: middle;
	font-size: 1.4rem;
}

.notice_write .title dt, .notice_write .info dt {
	width: 100px;
}

.notice_write .title dd {
	width: calc(100% - 100px);
}

.notice_write .title input[type="text"], .notice_write .info input[type="text"],
	.notice_write .info input[type="password"] {
	padding: 10px;
	box-sizing: border-box;
}

.notice_write .title input[type="text"] {
	width: 80%;
}

.notice_write .cont {
	border-bottom: 1px solid #000;
}

.notice_write .cont textarea {
	display: block;
	width: 100%;
	height: 300px;
	padding: 15px;
	box-sizing: border-box;
	border: 0;
	resize: vertical;
}

/* 디테일 페이지 */
.container {
	max-width: 1200px;
	margin: 20px auto;
	padding: 20px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	background: #fff;
}

.comment_title {
	font-size: 26px;
	margin-bottom: 25px;
	margin-top: 25px;
}

.comment_title span {
	color: #649243;
}

.reply_list {
	border-bottom: 1px solid #d6d7d8;
	padding: 15px 0;
	display: flex;
	align-items: start;
}

.media-left {
	margin-right: 15px;
}

.ratingStar {
	margin-right: 10px;
}

.profile_picture {
	width: 55px;
	height: 55px;
	border-radius: 55%;
}

.media-body {
	flex-grow: 1.2;
}

.media-heading {
	font-size: 16px;
	color: #989;
	margin-bottom: 15px;
}

.media-heading b {
	font-size: 19px;
	margin-right: 15px;
}

.comment-section {
	margin-top: 35px;
}

#comment-form {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: flex-start;
	gap: 15px;
	margin-top: 16px;
}

.commentPic {
	flex-shrink: 0;
	width: 100px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.commentPic img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 50%;
}

.comment {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

.commentTextbox {
	padding: 15px;
	border: 1px solid #D6D7D8;
	border-radius: 7px;
	resize: vertical;
	min-height: 110px;
	font-size: 20px;
	width: 1000px;
}

.comment_submit {
	background-color: #649243;
	color: white;
	border: none;
	padding: 15px;
	cursor: pointer;
	border-radius: 7px;
	font-size: 22px;
	font-weight: bold;
	margin-top: 15px;
	width: 145px;
}

/* 수정 페이지 */
* {
	margin: 0;
	padding: 0;
}














