<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="recipeMapper">
	<resultMap type="recipe" id="recipeResultSet">
		<result column="R_NO" property="rno"></result>
		<result column="R_WRITER" property="memberNickName"></result>
		<result column="R_TITLE" property="title"></result>
		<result column="R_INTRODUCTION" property="introduction"></result>
		<result column="R_FOOD_CATEGORY" property="foodCategory"></result>
		<result column="R_SITUATION_CATEGORY" property="situationCategory"></result>
		<result column="R_HOW_CATEGORY" property="howCategory"></result>
		<result column="R_INGREDIENT_CATEGORY" property="ingredientCategory"></result>
		<result column="R_PERSON" property="person"></result>
		<result column="R_TIME" property="time"></result>
		<result column="R_DIFFICULTY" property="difficulty"></result>
		<result column="R_TIP" property="tip"></result>
		<result column="R_TAG" property="tag"></result>
		<result column="R_VIEWS" property="views"></result>
		<result column="R_IN_DATE" property="indate"></result>
		<result column="R_UPDATE_DATE" property="updateDate"></result>
		<result column="R_SAVE_COUNT" property="saveCount"></result>
		<result column="R_UPLOAD_PATH" property="uploadPath"></result>
		<result column="R_UPLOAD_NAME" property="uploadName"></result>
		<result column="R_UPLOAD_ORIGIN" property="uploadOriginName"></result>
		<result column="M_NO" property="mno"></result>			
		<result column="R_DELETEDATE" property="deleteDate"></result>
	</resultMap>
	
	<select id="selectListCount" resultType="_int">
	SELECT COUNT(*) FROM RECIPE
	WHERE R_DELETEDATE IS NULL 
	<choose>
			<when test='searchCategory.equals("title")'>
				AND R_TITLE LIKE '%' || #{searchText} || '%'
			</when>
			<when test='searchCategory.equals("ingredientCategory")'>
				AND R_INGREDIENT_CATEGORY LIKE '%' || #{searchText} || '%'
			</when>
			<when test='searchCategory.equals("memberNickName")'>
				AND R_WRITER LIKE '%' || #{searchText} || '%'
			</when>
		</choose>
	</select>
	
	<select id="selectListAll" resultMap="recipeResultSet">
	SELECT * FROM RECIPE
	WHERE R_DELETEDATE IS NULL
	<choose>
			<when test='searchCategory.equals("title")'>
				AND R_TITLE LIKE '%' || #{searchText} || '%'
			</when>
			<when test='searchCategory.equals("ingredientCategory")'>
				AND R_INGREDIENT_CATEGORY LIKE '%' || #{searchText} || '%'
			</when>
			<when test='searchCategory.equals("memberNickName")'>
				AND R_WRITER LIKE '%' || #{searchText} || '%'
			</when>
		</choose>
	
	</select>
			
	<select id="rankingList" resultMap="recipeResultSet">
	SELECT * FROM RECIPE
	WHERE R_DELETEDATE IS NULL
	
	<choose>
			<when test='searchCategory.equals("title")'>
				AND R_TITLE LIKE '%' || #{searchText} || '%'
			</when>
			<when test='searchCategory.equals("ingredientCategory")'>
				AND R_INGREDIENT_CATEGORY LIKE '%' || #{searchText} || '%'
			</when>
			<when test='searchCategory.equals("memberNickName")'>
				AND R_WRITER LIKE '%' || #{searchText} || '%'
			</when>
		</choose>
	ORDER BY R_VIEWS DESC
		
	</select>

	<insert id="addRecipe" useGeneratedKeys="true" keyColumn="R_NO" keyProperty="rno">
	INSERT INTO RECIPE VALUES(recipe_seq.NEXTVAL,
								#{memberNickName},
								#{title},
								#{introduction},
								#{foodCategory},
								#{situationCategory},
								#{howCategory},
								#{ingredientCategory},
								#{person},
								#{time},
								#{difficulty},
								#{tip},
								#{tag},
								0,
								SYSDATE,
								null,
								0,
								#{uploadPath},
								#{uploadName},
								#{uploadOriginName},								
								#{mno},
								null)
	</insert>

	<select id="detailRecipe" resultMap="recipeResultSet">
	SELECT *
	FROM RECIPE
	WHERE R_NO = #{rno}	
	</select>

	<update id="views" parameterType="recipe">
	UPDATE RECIPE SET R_VIEWS =#{views}
				  WHERE R_NO = #{rno}
	</update>
	
	<update id="deleteRecipe" parameterType="_int">
	UPDATE RECIPE SET R_DELETEDATE = SYSDATE
	WHERE R_NO = #{rno}
	</update>
	
	<select id="selectWriter" resultType="string">
	SELECT R_WRITER FROM RECIPE
	WHERE R_NO = #{rno}
	</select>
	
	<select id="selectFileName" resultMap="recipeResultSet">
	SELECT R_UPLOAD_NAME FROM RECIPE
	WHERE R_NO = #{rno}
	</select>
	
	<select id="myRecipeCount" resultType="_int">
	SELECT COUNT(*) FROM RECIPE
	WHERE R_DELETEDATE IS NULL
	AND M_NO =#{mno}
	</select>
	
	<select id="selectMyRecipe" resultMap="recipeResultSet">
	SELECT * FROM RECIPE
	WHERE R_DELETEDATE IS NULL
	AND M_NO =#{mno} 
	</select>
	
	<select id="newList" resultMap="recipeResultSet">
	SELECT * FROM RECIPE
	WHERE R_DELETEDATE IS NULL
	AND M_NO =#{mno}
	ORDER BY R_IN_DATE DESC
	</select>

	<select id="viewList" resultMap="recipeResultSet">
	SELECT * FROM RECIPE
	WHERE R_DELETEDATE IS NULL
	AND M_NO=#{mno}
	ORDER BY R_VIEWS DESC
	</select>
</mapper>