<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="recipeSequenceMapper">
	<resultMap type="recipe" id="recipeSequenceResultSet">
		<result column="RS_NO" property="rsno"></result>
		<result column="R_NO" property="rno"></result>
		<result column="RS_SEQUENCE" property="rsSequence"></result>	
	</resultMap>
	
	<insert id="addRecipe" useGeneratedKeys="true" keyColumn="RS_NO" keyProperty="rsno">
		INSERT INTO RECIPESEQUENCE VALUES(recipeSequence_seq.NEXTVAL,
								#{rno},
								#{rsSequence})
	</insert>
	
	
	<select id="seqSelectRecipe" resultMap="recipeSequenceResultSet">
	SELECT * FROM RECIPESEQUENCE
	WHERE R_NO=#{rno}
	</select>
	
	
	
	
	
	
	
	
</mapper>