.side-menu {
	top: 50px;
	width: 45px;
	z-index: 10;
	background: #ff5858;
	border-right: 1px solid rgba(0, 0, 0, 0.07);
	bottom: 50px;
	height: 100%;
	margin-bottom: -70px;
	margin-top: 0px;
	padding-bottom: 70px;
	position: fixed;
	box-shadow: 0 0px 24px 0 rgb(0 0 0/ 6%), 0 1px 0px 0 rgb(0 0 0/ 2%);
}

.sidebar-inner {
	height: 100%;
	padding-top: 30px;
}

#sidebar-menu, #sidebar-menu ul, #sidebar-menu li, #sidebar-menu a {
	border: 0;
	font-weight: normal;
	line-height: 1;
	list-style: none;
	margin: 0;
	padding: 0;
	position: relative;
	text-decoration: none;
}

#sidebar-menu>ul>li a {
	color: #fff;
	font-size: 20px;
	display: block;
	padding: 14px 0px;
	margin: 0px 0px 0px 8px;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	border-bottom: 1px solid rgba(255, 255, 255, 0.05);
	width: 28px;
	cursor: pointer;
}

#sidebar-menu .fas {
	padding-left: 6px;
}

/* 사이드 메뉴 */
input[type="search"] {
	width: 180px;
	margin: 0 auto;
	margin-left: 9px;
	border: 2px solid #797979;
	font-size: 14px;
	margin-top: 10px;
	padding: 4px 0 4px 14px;
	border-radius: 50px;
}

.left_sub_menu {
	position: fixed;
	top: 50px;
	width: 200px;
	z-index: 10;
	left: 45px;
	background: white;
	border-right: 1px solid rgba(0, 0, 0, 0.07);
	bottom: 50px;
	height: 100%;
	margin-bottom: -70px;
	margin-top: 0px;
	padding-bottom: 0px;
	box-shadow: 0 0px 24px 0 rgb(0 0 0/ 6%), 0 1px 0px 0 rgb(0 0 0/ 2%);
	color: black;
}

.sub_menu {
	margin-top: 50px;
	height: 85vh;
	overflow: auto scroll;
}

.sub_menu::-webkit-scrollbar {
  display: none;
}

.left_sub_menu>.sub_menu li:hover {
	color: ff5858;
	background-color: #e1e1e1;
}

.left_sub_menu>.sub_menu li {
	color: #333;
	font-size: 17px;
	font-weight: 600;
	padding: 20px 0px 8px 14px;
	border-bottom: 1px solid #e1e1e1;
}

.sub_menu>h2 {
	padding-bottom: 4px;
	border-bottom: 3px solid #797979;
	margin-top: 30px;
	font-size: 21px;
	font-weight: 600;
	color: #333;
	margin-left: 10px;
	margin-right: 10px;
	font-family: 'NotoKrB';
	line-height: 35px;
}

.sub_menu .fas {
	color: #ff5858;
	font-size: 20px;
	line-height: 20px;
	float: right;
	margin-right: 20px;
}

.sub_menu>.big_menu>.small_menu li {
	color: #333;
	font-size: 14px;
	font-weight: 600;
	border-bottom: 0px solid #e1e1e1;
	margin-left: 14px;
	padding-top: 8px;
}

.big_menu {
	cursor: pointer;
}

ul {
	padding-inline-start: 0px;
}

a {
	color: #797979;
	text-decoration: none;
	background-color: transparent;
}

ul {
	list-style: none;
}

ol, ul {
	margin-top: 0;
	margin-bottom: 10px;
}

.has_sub {
	width: 100%;
}

.hide_sidemenu {
	display: none;
}



/*멤버리스트*/
.memberTable{
	margin-left: 250px;
}

table {
  border-collapse: separate;
  border-spacing: 0;
  width: 100%;
}
th,
td {
  padding: 6px 15px;
}
th {
  background: #42444e;
  color: #fff;
  text-align: left;
}
tr:first-child th:first-child {
  border-top-left-radius: 6px;
}
tr:first-child th:last-child {
  border-top-right-radius: 6px;
}
td {
  border-right: 1px solid #c6c9cc;
  border-bottom: 1px solid #c6c9cc;
}
td:first-child {
  border-left: 1px solid #c6c9cc;
}
tr:nth-child(even) td {
  background: #eaeaed;
}
tr:last-child td:first-child {
  border-bottom-left-radius: 6px;
}
tr:last-child td:last-child {
  border-bottom-right-radius: 6px;
}

.pagination {
	display: flex;
	justify-content: center;
	margin-left: 250px;
}


/*상품등록페이지*/
.product-upload img {
	padding-top: 14px; 
	width: 100px; 
	height: 64px;
}

.info-upload img {
	padding-top: 14px; 
	width: 100px; 
	height: 64px;
}

.productRegistrationContain {
	margin-left: 300px;
}

.productInfoText{
	display: flex;
	flex-direction: column;
}

#productPreviewContainer {
	display: flex;
	justify-content: flex-start;
}

#infoPreviewContainer {
	display: flex;
	justify-content: flex-start;
}

.product-remove-button {
	background: none;
	color: black;
	border: none;
	cursor: pointer;
}

.info-remove-button {
	background: none;
	color: black;
	border: none;
	cursor: pointer;
}

#fileUpload {
	display: none; /* 파일 업로드 버튼을 숨깁니다. */
}

.product-upload {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100px;
	height: 100px;
	border: 1px solid black;
	cursor: pointer; /* 이미지 버튼 위로 마우스가 올라갈 때마다 커서를 포인터로 변경합니다. */
	margin-top: 10px;
}

.info-upload {
	display: flex;
	justify-content: center;
	align-content: center;
	width: 100px;
	height: 100px;
	border: 1px solid black;
	cursor: pointer; /* 이미지 버튼 위로 마우스가 올라갈 때마다 커서를 포인터로 변경합니다. */
	margin-top: 10px;
}

.review-btn {
	text-align: center;
}

.product-input {
	display: none;
}

.info-input {
	display: none;
}

.product-upload:not(:first-of-type) {
	display: none;
}

.info-upload:not(:first-of-type) {
	display: none;
}

.form-label {
	position: relative;
	display: block;
	flex: 0 0 100%;
	margin-bottom: 20px;
	font-size: 16px;
}

.productInfoText input {
	width: 30%;
	height: 40px;
	margin-bottom: 10px;
}

.productRegistrationBtn button {
	width: 100px;
	height: 40px;
	background-color: white;
	margin-top: 20px;
}

/*상품리스트*/
.productTable{
	margin-left: 250px;
}

.pagination {
	display: flex;
	justify-content: center;
	margin-left: 250px;
}
