body {
	background: #f0f0f0;
	margin: 0;
	padding: 0;
}

.mainContainer {
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	background: #fff;
	width: 80%;
	padding: 20px;
	box-sizing: border-box;
	display: flex;
	justify-content: flex-start;
}

.recentlyContainer {
	margin: 20px auto;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	border-radius: 8px;
	background: #fff;
    width: 80%;
    padding: 20px;
    box-sizing: border-box;
}

.common_header {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.main-logo {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
}

.main-logo img {
	margin-right: 20px;
	width: 350px;
	height: 175px;
}

.main-logo form {
	display: flex;
	align-items: center;
	margin-top: 30px;
	margin-bottom: 0px;
}

#login_logout {
	display: flex;
	align-items: center;
	margin-right: 30px;
}

#login_logout .Main_a {
	margin-left: 15px;
	color: #333;
	text-decoration: none;
	margin-top: 30px;
}

.searchCategory {
	border: 1px solid #ccc;
	background: #fbfbfb;
	height: 38px;
	border-radius: 8px;
	width: 300px;
	margin-right: 10px;
}

.searchBtn {
	width: 70px;
	height: 38px;
	background-color: white;
	cursor: pointer;
	border: 1px solid #ccc;
	border-radius: 8px;
}

/* Nav버튼 */
.nav {
	width: 100%;
	background-color: green;
}

.nav-content {
	display: flex;
	justify-content: space-evenly;
	padding: 10px;
}

.nav a {
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	transition: 0.3s;
}

.nav-content a:hover, .nav-content a:focus {
	color: #ffff00;
}

.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	justify-content:center;
	z-index:1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    z-index: 10;
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* 로그인 로그아웃 */
.Main_a {
	text-decoration: none;
	margin-left: 10px;
	color: white;
	padding-top: 12px;
}

/* 메인화면 슬라이드 */
.slick_slide {
	width: 100%;
	position: relative;
}

.main-Title {
	font-size: 40px;
	margin: 0;
}

.icon_arrow3_pre1, .icon_arrow3_next1 {
	position: absolute;
	top: 50%; /*화살표를 수직으로 중앙에 위치시킵니다 */
	transform: translateY(-50%); /* 화살표를 정확히 중앙에 위치시키기 위해 */
	z-index: 10; /* 화살표가 다른 요소들 위에 표시되도록 z-index 설정 */
}

.icon_arrow3_pre2, .icon_arrow3_next2 {
	position: absolute;
	top: 50%; /*화살표를 수직으로 중앙에 위치시킵니다 */
	transform: translateY(-50%); /* 화살표를 정확히 중앙에 위치시키기 위해 */
	z-index: 10; /* 화살표가 다른 요소들 위에 표시되도록 z-index 설정 */
}

.icon_arrow3_pre3, .icon_arrow3_next3 {
	position: absolute;
	top: 37%; /*화살표를 수직으로 중앙에 위치시킵니다 */
	z-index: 10; /* 화살표가 다른 요소들 위에 표시되도록 z-index 설정 */
}

[class^="icon_arrow3_pre"] {
	left: 0px;
	margin-right: 20px;
}

[class^="icon_arrow3_next"] {
	right: 0px;
	margin-left: 20px;
}

.category-image {
	width: 110px;
	height: 110px;
	border-radius: 50%;
	margin: auto;
}

/* 슬라이드 컨테이너를 위한 스타일 */
.slick_slide_container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 150px;
}

/* 슬라이드 리스트를 위한 스타일 */
.slick_slide_list {
	flex: 1;
	display: flex;
	align-items: center;
	margin: 0 10px;
}

/* 화살표 이미지를 위한 스타일 */
.slick_arrow {
	flex-shrink: 0;
}

.mainCategoryLi {
	width: 110px;
	height: 150px;
	list-style: none;
	margin: 0 12px 40px 0;
	position: relative;
	text-align: center;
}

.mainCategoryLi a {
	display: block;
}

/* 최근에 본 레시피 */
.recently-div {
	display: flex;
	flex-direction: column; /* 요소들을 세로로 나열 */
}

.recentlyList {
	display: flex;
	width: 100%;
	padding: 20px; /* 추가된 부분 */
	overflow: hidden;
	justify-content: space-around;
}

.recently-li {
	list-style: none;
	flex: 0 0 calc(20% - 40px); /* 변경된 부분 */
	margin: 0 10px 0 0; /* 변경된 부분 */
	display: none;
}

.recently-image {
	width: 200px;
	height: 282px;
}

/* 미디어 쿼리도 비슷하게 수정해야 합니다. */
@media ( max-width : 1024px) {
	.recently-li {
		flex: 0 0 calc(25% - 40px);
	}
}

@media ( max-width : 800px) {
	.recently-li {
		flex: 0 0 calc(33.33% - 40px);
	}
}

@media ( max-width : 600px) {
	.recently-li {
		flex: 0 0 calc(50% - 40px);
	}
}

@media ( max-width : 480px) {
	.recently-li {
		flex: 0 0 calc(100% - 40px);
	}
}

.recommendedRecipe-li {
	width: 282px;
	list-style: none;
	position: relative;
	flex: 0 0 24%;
	max-width: 24%;
	box-sizing: border-box;
}

.randomRecipe {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	padding: 20px;
	margin-left: 40px;
}

/* footer */
footer {
	background-color: green; /* 초록색 배경 */
	padding: 20px;
	color: #FFFFFF; /* 푸터 텍스트 색상 */
}

.footer-container {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo img {
	width: 300px; /* 로고 이미지의 너비 */
}

.company-info p {
	margin: 5px 0;
}

.social-media a {
	color: #FFFFFF; /* 소셜 미디어 아이콘 색상 */
	margin-right: 10px;
}

.social-media a i {
	font-size: 20px; /* 소셜 미디어 아이콘 크기 */
}

/* 메인화면 사진 슬라이드 */
.homeContainer {
	position: relative;
}

.homeImg {
	position: absolute;
	width: 80%; /* 이미지 크기조절을 원하시면 이 값을 변경해주세요. */
	height: 600px;
	left: 50%;
	transform: translateX(-50%);
	margin: 0 auto;
	opacity: 0;
	transition: opacity 1s linear;
}

.homeImg:first-child {
	opacity: 1;
}
