body {
	margin: 0;
}

#common_header {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 50px;
	background-color: green;
}

#login_logout {
	display: flex;
	padding-right: 10px;
}

.main_video {
	width: 100%;
	height: 500px;
	background-color: pink;
}


/* nav 바 시작 */
.overlay {
  height: 0;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}
.overlay-content {
  position: relative;
  top: 25%;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}
.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
}
.nav-button {
  position: relative;
}

.nav-image {
  position: absolute;
  top: 0; 
  left: 10px; 
  width: 40px; 
  height: 40px;
}





