<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="eventCommentMapper">
<resultMap type="admin" id="eventCommentResultSet">
<result column="EC_NO" property="ecno"></result>
<result column="EC_COMMENT" property="ecComment"></result>
<result column="EC_WRITER" property="ecWriter"></result>
<result column="EC_IN_DATE" property="ecIndate"></result>
<result column="E_NO" property="eno"></result>
<result column="M_NO" property="mno"></result>

</resultMap>

<select id="selectEventComment" resultMap="eventCommentResultSet">
SELECT * FROM EVENTLISTCOMMENT
WHERE E_NO =#{eno}
ORDER BY EC_IN_DATE DESC
</select>

<select id="ecommentCount" resultType="_int">
SELECT COUNT(*) FROM EVENTLISTCOMMENT
WHERE E_NO=#{eno}
</select>
<insert id="addEventComment">
INSERT INTO EVENTLISTCOMMENT VALUES(eventListComment_seq.NEXTVAL,
							#{ecComment},
							#{ecWriter},
							SYSDATE,
							#{eno},
							#{mno}
							)
</insert>
</mapper>